

.fon {
    display: block;
    background-size: 300px;
    width: 1080px;
    height: 300px;
}

/* Style for MAIN section with: block1: div avatar and block2: div Description*/
.wrapper {
    display: flex;
    margin-top: 10px;
}

/* Style for block1: div avatar and block2: div Description. placed them side by side */
.block1, .block2{
    display: inline-block;
}

.block2 {
    margin-left: 10px;
    line-height: 1.5vh;
}

/* Style for avatar*/
.avatar {
    width: 150px;
    height: 150px;
}


